body {
    background-color: rgb(17, 76, 184);
    color: burlywood;
    font: normal 15pt Arial;
}

header {
        color: white;
        text-align: center;
}

section {
        color: black;
        background: white;
        border-radius: 10px;
        padding: 15px;
        width: 500px;
        margin: auto;
        box-shadow: 7px 7px 0px rgb(0, 0, 0);
}

div {
        text-align: center;
        padding: 10px;
}

img#imagem {
        border-radius: 50%;
        width: 250px;
        height: 250px;
        color:#040d35
}

footer {
        color: white;
        font-style: italic;
        text-align: center;
}